{% extends 'base.html' %}
{% load static %}


{% block title %}Schema{% endblock title %}


{% block extra_css_style %}
<style>
    #vis-container {
        background-color: #CDE;
        border: 1px solid black;
        height: 100%;
        width: 100%;
    }
</style>
{% endblock extra_css_style %}


{% block root_main %}
<div id="vis-container"></div>
{% endblock root_main %}


{% block javascript %}
{{ vis_data|json_script:"vis-data" }}
<script type="module" src="{% asset 'schemaviz/assets/main.ts' %}"></script>
{% endblock javascript %}
