<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Schema</title>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <style>
      body {
          background-color: #777;
      }
      #vis-container {
          background-color: #999;
          border: 1px solid black;
          height: 90vh;
          width: 90vw;
      }
  </style>
  <script type="module" src="{% vite %}"></script>
</head>
<body>

<div>
  <h1>Installed Apps</h1>
  <div id="vis-container"></div>
</div>

{{ vis_data|json_script:"vis-data" }}

<script type="module" src="{% asset 'schemaviz/assets/main.ts' %}"></script>

</body>
</html>
