<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Test</title>
    <style>
        form {
            border: 1px solid black;
            display: flex;
            flex-direction: column;
        }
        form > fieldset {
            border: 1px solid blue;
        }
        div.field-wrapper {
            border: 1px solid red;
            display: grid;
        }
    </style>
</head>
<body>
<form>
    <div class="field-wrapper">
        <label for="name">Label</label>
        <ul>
            <li>Error1</li>
            <li>Error2</li>
        </ul>
        <input name="name" id="name">
        <span>Help text</span>
    </div>
    <div class="field-wrapper">
        <input>
        <br>
        <span>Help text with br</span>
    </div>
    <fieldset>
        <legend>Fieldset1</legend>
        <div class="field-wrapper">
            <label for="fieldset-field">FieldSet Field</label>
            <ul>
                <li>Error1</li>
                <li>Error2</li>
            </ul>
            <input name="fieldset-field" id="fieldset-field">
            <span>Help text</span>
        </div>
    </fieldset>
    <fieldset>
        <legend>Fieldset2</legend>
    </fieldset>
</form>

</body>
</html>