{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block title %}{{ model_class|name }}: {{ account }}{% endblock title %}


{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'pyamgmt:pyamgmt:list' %}">{{ model_class|name }}</a></li>
<li class="breadcrumbs__item">{{ account }}</li>
{% endblock breadcrumbs %}


{% block content %}
<div class="model-detailview">
    <div class="model-heading">
        <h1>{{ model_class|name }}</h1>
        <a href="{% url 'pyamgmt:account:edit' account.pk %}">Edit</a>
    </div>

    <div class="model-detail">
        <table class="model-detail__table">
            <tr>
                <th>ID</th>
                <td class="primary-key">{{ account.pk }}</td>
            </tr>
            <tr>
                <th>Subtype</th>
                <td>{{ account.subtype }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <th>Parent Account</th>
                <td>
                {% if account.parent_account %}
                    <a href="{% url 'pyamgmt:account:detail' account.parent_account_id %}">{{ account.parent_account }}</a>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Child Accounts</th>
                <td>
                    <ul>
                        {% for child_account in account.child_accounts.all %}
                        <li><a href="{% url 'pyamgmt:account:detail' child_account.pk %}">{{ child_account.name }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="model-related">
        <h2>Transactions</h2>
        <table class="model-related__table">
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Payee</th>
                <th>Debit</th>
            </tr>
            {% for txnlineitem in account.txnlineitem_set.all %}
            <tr>
                <td><a href="{% url 'pyamgmt:txnlineitem:detail' txnlineitem.pk %}">{{ txnlineitem.pk }}</a></td>
                <td>{{ txnlineitem.txn.txn_date }}</td>
                <td style="text-align: right;">{% if account.debit_increase and txnlineitem.debit %}+{% endif %}{{ txnlineitem.amount|floatformat:2 }}</td>
                <td>{{ txnlineitem.txn.payee.name }}</td>
                <td>{{ txnlineitem.debit }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
