{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block title %}AccountLiability{% endblock title %}


{% block content %}

<div class="model-list">
    <h1>AccountLiability</h1>
    <p>{{ qs_accountliability.model|doc }}</p>
    <a href="{% url 'pyamgmt:accountliability:add' %}">Add</a>
    <table>
        <tr>
            <th colspan="4">Account</th>
            <th>AccountLiability</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Subtype</th>
            <th>Parent Account</th>

            <th>Account Number</th>
        </tr>
        {% for accountliability in qs_accountliability %}
        <tr>
            <td class="primary-key"><a href="{% url 'pyamgmt:accountliability:detail' accountliability.pk %}">{{ accountliability.pk }}</a></td>
            <td>{{ accountliability.account.name }}</td>
            <td>{{ accountliability.account.subtype }}</td>
            <td>{{ accountliability.account.parent_account }}</td>

            <td>{{ accountliability.account_number }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}
