{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block content %}

<form method="post" class="dj-form">
    {% csrf_token %}
    <fieldset>
        <legend>Account</legend>
        {{ forms.account.as_p }}
    </fieldset>
    <fieldset>
        <legend>AccountAsset</legend>
        {{ forms.accountasset.as_p }}
    </fieldset>
    <fieldset>
        <legend>AccountAssetFinancial</legend>
        {{ forms.accountassetfinancial.as_p }}
    </fieldset>
    <button type="submit">Submit</button>
</form>

{% endblock content %}
