{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block title %}CatalogItemDigitalSong{% endblock title %}


{% block content %}

<div class="model-list">
    <h1>CatalogItemDigitalSong</h1>
    {#<a href="{% url 'pyamgmt:catalogue-item-digital-song:add' %}">Add</a>#}
    <table>
        <tr>
            <th colspan="7">CatalogItem</th>
            <th>CatalogItemDigitalSong</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Subtype</th>
            <th>Name</th>
            <th>ASIN</th>
            <th>ISBN</th>
            <th>ISBN13</th>
            <th>UPC</th>

            <th></th>
        </tr>
        {% for catalogitemdigitalsong in qs_catalogitemdigitalsong %}
        <tr>
            <td class="primary-key"><a href="{% url 'pyamgmt:catalogitemdigitalsong:detail' catalogitemdigitalsong.pk %}">{{ catalogitemdigitalsong }}</a></td>
            <td>{{ catalogitemdigitalsong.catalogue_item.subtype }}</td>
            <td>{{ catalogitemdigitalsong.catalogue_item.name }}</td>
            <td>{{ catalogitemdigitalsong.catalogue_item.asin }}</td>
            <td>{{ catalogitemdigitalsong.catalogue_item.isbn }}</td>
            <td>{{ catalogitemdigitalsong.catalogue_item.isbn_13 }}</td>
            <td>{{ catalogitemdigitalsong.catalogue_item.upc }}</td>

            <td></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}
