{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block title %}CatalogItem{% endblock title %}


{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li><a href="{% url 'pyamgmt:home' %}">Home</a></li>
    <li><a href="{% url 'pyamgmt:catalogitem:list' %}">CatalogItem</a></li>
    <li>{{ catalogitem.pk }}</li>
</ol>
{% endblock breadcrumbs %}


{% block content %}

<div class="model-detail">
    <h1>CatalogItem</h1>
    <table>
        <tr>
            <th>ID</th>
            <td>{{ catalogitem.pk }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ catalogitem.name }}</td>
        </tr>
        <tr>
            <th>ASIN</th>
            <td>{{ catalogitem.asin }}</td>
        </tr>
        <tr>
            <th>ISBN</th>
            <td>{{ catalogitem.isbn }}</td>
        </tr>
        <tr>
            <th>ISBN-13</th>
            <td>{{ catalogitem.isbn_13 }}</td>
        </tr>
        <tr>
            <th>UPC</th>
            <td>{{ catalogitem.upc }}</td>
        </tr>
    </table>
    <div>
    {{ catalogitem.eav }}
    </div>
</div>

{% endblock content %}
