{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block title %}CatalogItemToPointOfSaleLineItem{% endblock title %}


{% block content %}

<div class="model-detail">
    <h1>CatalogItemToPointOfSaleLineItem</h1>
    <a href="{% url 'pyamgmt:catalogitemtopointofsalelineitem:edit' catalogitemtopointofsalelineitem.pk %}">Edit</a>
    <table>
        <tr>
            <th>ID</th>
            <td class="primary-key">{{ catalogitemtopointofsalelineitem.pk }}</td>
        </tr>
        <tr>
            <th>CatalogItem</th>
            <td>{{ catalogitemtopointofsalelineitem.catalogitem }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ catalogitemtopointofsalelineitem.quantity }}</td>
        </tr>
        <tr>
            <th>Unit</th>
            <td>{{ catalogitemtopointofsalelineitem.unit.name }}</td>
        </tr>
        <tr>
            <th>Unit Price</th>
            <td>{{ catalogitemtopointofsalelineitem.unit_price }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ catalogitemtopointofsalelineitem.price }}</td>
        </tr>
    </table>
</div>

{% with catalogitemtopointofsalelineitem.catalogitem as catalogitem %}
<div class="model-related">
    <h2>CatalogItem</h2>
    <table>
        <tr>
            <th>ID</th>
            <td class="primary-key"><a href="{% url 'pyamgmt:catalogitem:detail' catalogitem.pk %}">{{ catalogitem.pk }}</a></td>
        </tr>
        <tr>
            <th>Subtype</th>
            <td>{{ catalogitem.subtype }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ catalogitem.name }}</td>
        </tr>
        <tr>
            <th>ASIN</th>
            <td>{{ catalogitem.asin }}</td>
        </tr>
    </table>
</div>
{% endwith %}

{% with catalogitemtopointofsalelineitem.pointofsalelineitem as pointofsalelineitem %}
<div class="model-related">
    <h2>PointOfSaleLineItem</h2>
    <table>
        <tr>
            <th>ID</th>
            <td class="primary-key"><a href="{% url 'pyamgmt:pointofsalelineitem:detail' pointofsalelineitem.pk %}">{{ pointofsalelineitem.pk }}</a></td>
        </tr>
        <tr>
            <th>Subtype</th>
            <td>{{ pointofsalelineitem.subtype }}</td>
        </tr>
        <tr>
            <th>Short Memo</th>
            <td>{{ pointofsalelineitem.short_memo }}</td>
        </tr>
    </table>
</div>
{% endwith %}

{% endblock content %}
