{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block title %}CatalogItemMusicAlbum{% endblock title %}


{% block content %}

<div class="model-list">
    <h1>CatalogItemMusicAlbum</h1>
    <a href="{% url 'pyamgmt:catalogitemmusicalbum:add' %}">Add</a>
    <table>
        <tr>
            <th>ID</th>
        </tr>
        {% for catalogitemmusicalbum in qs_catalogitemmusicalbum %}
        <tr>
            <td class="primary-key"><a href="{% url 'pyamgmt:catalogitemmusicalbum:detail' catalogitemmusicalbum.pk %}">{{ catalogitemmusicalbum.pk }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}
