{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block title %}SongRecording{% endblock title %}


{% block content %}

<div class="model-list">
    <h1>SongRecording</h1>
{#    <a href="{% url 'pyamgmt:song:add' %}">Add</a>#}
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Artist(s)</th>
            <th>Duration</th>
            <th>Lyrics</th>
        </tr>
        {% for songrecording in qs_songrecording %}
        <tr>
            <td class="primary-key"><a href="{% url 'pyamgmt:songrecording:detail' songrecording.pk %}">{{ songrecording.pk }}</a></td>
            <td>{{ songrecording.song.title }}</td>
            <td>
                {% for musicartisttosong in song.musicartisttosong_set.all %}
                {{ musicartisttosong.musicartist.name }}
                {% if not forloop.last %}
                <br>
                {% endif %}
                {% endfor %}
            </td>
            <td>{{ songrecording.duration }}</td>
            <td>{{ song.lyrics|truncatewords:3 }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}
