{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block title %}SongToSong{% endblock title %}


{% block content %}

<div class="model-list">
    <h1>SongToSong</h1>
    <table class="model-list__table">
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for songtosong in qs_songtosong %}
            <td><a>{{ songtosong.pk }}</a></td>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
