a + table {
    margin-top: 1em;
}
table + a {
    display: inline-block;
    margin-top: 1em;
}
a:link,
a:visited {
    color: blue;
}
a:not(:link) {
    color: red;
}
td > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
td > ul li::before {
    /* Accessibility fix */
    content: "\200B";
}
div.table-wrapper > table {
    width: 100%;
}
td {
    min-width: 4em;
}
td a {
    display: inline-block;
}
p.doc-string {
    font-style: italic;
}
fieldset.grid {
    display: grid;
}
fieldset.grid.col4 div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Wraps label, input, help-text, error */
form div.field-wrapper {

}