/* Variables */
:root {
    --Aero: #00b9e8;  /* Nice bold border color */
    --Apple-green: #8ab800;
    --Apple-red: #be0032;
    --Amaranth: #e52b50;
    --Amber: #ffbf00;
    --Amber-SAE: #ff7e00;
    --Amethyst: #9966cc;
    --Arylide-yellow: #e9d66b;
    --Aureolin: #fdee00;
    --Azure: #0080ff;
    --Barn-red: #7c0902;
    --Beau-blue: #bcd4e6;
    --Bistre: #3d2b1f;
    --Black-coral: #54626f;
    --Bluebonnet: #1c1cf0;
    --Bronze: #cd7f32;
    --Byzantium: #702963;
    --Cadmium-green: #006b3c;
    --Cadmium-orange: #ed872d;
    --Cadmium-red: #e30022;
    --Cadmium-yellow: #fff600;
    --Cardinal-red: #c51e3a;
    --Catawba: #703642;
    --Celadon: #ace1af;
    --Cerulean: #007ba7;
    --Charcoal: #36454f;
    --Cinereous: #98817b;
    --Cobalt-blue: #0047ab;
    --Copper: #b87333;
    --Davys-grey: #555555;
    --Denim: #1560bd;
    --Ebony: #555d50;
    --Eerie-black: #1b1b1b;
    --Egyptian-blue: #1034a6;
    --Electric-blue: #7df9ff;
    --Emerald: #50c878;
    --Fern-green: #4f7942;
    --Garnet: #733635;
    --Gunmetal: #2a3439;  /* Nice grey background color */
    --Han-blue: #446cff;
    --Han-purple: #5218fa;
    --Heliotrope: #df73ff;
    --Honolulu-blue: #006db0;
    --Iceberg: #71a6d2;
    --Imperial-red: #ed2939;
    --Independence: #4c516d;
    --International-Klein-Blue: #002fa7;
    --Isabelline: #f4f0ec;
    --Jade-green: #00a86b;
    --Jasper: #d05340;
    --Jet: #343434;
    --Jonquil: #f4ca16;
    --Kelly-green: #4cbb17;
    --Keppel: #3ab09e;
    --Lapis-lazuli: #26619c;
    --Laurel-green: #a9ba9d;
    --Lavender-floral: #b57edc;
    --Lavender-grey: #c4c3d0;
    --Licorice: #1a1110;
    --Malachite: #0bda51;
    --Manatee: #979aaa;
    --Marengo: #4c5866;
    --Maya-blue: #73c2fb;
    --Mikado-yellow: #ffc40c;
    --Mint: #3eb489;
    --Moonstone: #3aa8c1;
    --Myrtle: #21421e;  /* Nice green background color */
    --Naples-yellow: #fada5e;
    --Onyx: #353839;
    --Outer-space: #414a4c;
    --Paynes-grey: #536878;
    --Peacock-blue: #004958;
    --Persian-blue: #1c39bb;
    --Persian-green: #00a693;
    --Persimmon: #ec5800;
    --Phthalo-blue: #000f89;
    --Phthalo-green: #123524;
    --Pine-green: #01796f;
    --Platinum: #e5e4e2;
    --Prussian-blue: #003153;
    --Robin-egg-blue: #00cccc;
    --Rosewood: #65000b;
    --Royal-blue: #002366;
    --Sap-green: #507d2a;
    --Scheeles-green: #478800;
    --Timberwolf: #dbd7d2;  /* Works well with gunmetal */
    --Titanium: #878681;
    --Titanium-yellow: #eee600;
    --Twin-bed: #bedbed;
    --Tyrian-purple: #66023c;
    --Ultramarine: #120a8f;
    --Vanilla: #f3e5ab;
    --Venetian-red: #c80815;
    --Verdigris: #43b3ae;
    --Viridian: #40826d;
    --Xanadu: #738678;
    --YInMn-blue: #2e5090;
    --Zinnwaldite: #2c1608;
}

/*
 * 3. Generic
 */

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

:link,
:visited {
    color: blue;
}

/*
 * 4. Element
 */

body {
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    outline: 1px solid blue;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    background-color: #dddddd;
    border: 1px solid black;
    color: black;
    padding: 0.2rem;
}

td {
    background-color: #eeeeee;
    border: 1px solid black;
    color: black;
    padding: 0.1rem;
    /* fixed min-height */
    height: calc(1lh + 0.2rem + 1px);
    min-width: 2rem;
}

td > a {
    display: inline-block;
    min-width: 3rem;
}

td:has(table) {
    border: none;
    padding: 0;
}

td > table {
    border: none;
    width: 100%;
}

.monospace {
    font-family: monospace, monospace;
}

/* Specific layout components */
/* I'm OK with using IDs here since they uniquely frame the site */

#root {
    border: 3px solid var(--Titanium);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root-header {
    background-color: var(--Prussian-blue);
    border-bottom: 3px solid var(--Titanium);
    color: white;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

#root-main {
    flex: auto;
    overflow: auto;
}

#root-footer {
    background-color: var(--Prussian-blue);
    border-top: 3px solid var(--Titanium);
    color: white;
}

.js-header-clock {
    align-items: center;
    display: flex;
    justify-content: center;
}
