/*
 * 3. Generic
 */

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

:link,
:visited {
    color: blue;
}

/*
 * 4. Element
 */

body {
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    outline: 1px solid blue;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    background-color: #dddddd;
    border: 1px solid black;
    color: black;
    padding: 0.2rem;
}

td {
    background-color: #eeeeee;
    border: 1px solid black;
    color: black;
    padding: 0.15rem;
    /* fixed min-height */
    height: calc(1lh + 0.2rem + 1px);
    min-width: 2rem;
}

td > a {
    display: inline-block;
    min-width: 3rem;
}

td:has(table) {
    border: none;
    padding: 0;
}

td > table {
    border: none;
    width: 100%;
}

.monospace {
    font-family: monospace, monospace;
}

/* Specific layout components */
/* I'm OK with using IDs here since they uniquely frame the site */

#root {
    border: 3px solid var(--Titanium);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root-header {
    background-color: var(--Prussian-blue);
    border-bottom: 3px solid var(--Titanium);
    color: white;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

#root-main {
    flex: auto;
    overflow: auto;
}

#root-footer {
    background-color: var(--Prussian-blue);
    border-top: 3px solid var(--Titanium);
    color: white;
}

.js-header-clock {
    align-items: center;
    display: flex;
    justify-content: center;
}

.django_base.pagination {
    background-color: var(--Peacock-blue);
    border: 2px solid var(--Timberwolf);
    padding: 0.2rem;
}

.django_base.pagination__step-links {
    display: grid;
    gap: 2rem;
    grid-template-areas: "f p c c n l";
    justify-items: center;
    width: 60%;
}

.django_base.pagination__current {
    grid-area: c;
}
