<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% block _css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    {% block css_theme %}{% endblock css_theme %}
    {% block css_3p %}{% endblock css_3p %}
    {% block extra_css %}{% endblock extra_css %}
    {% block extra_css_style %}{% endblock extra_css_style %}
    {% endblock _css %}
    <script>
        {# Prettify URLS from empty GET form requests. #}
        if (window.location.href.slice(-1) === '?') {
            history.replaceState(null, '', window.location.href.slice(0, -1));
        }
    </script>
</head>
<body>
{% block body %}
<div class="container">
    <header class="header">
        {% block header %}{% endblock header %}
    </header>
    <main class="main">
        {% block main %}{% endblock main %}
    </main>
    <footer class="footer">
        {% block footer %}{% endblock footer %}
    </footer>
</div>
{% endblock body %}

{% block javascript_3p %}{% endblock javascript_3p %}
{% block core_javascript %}{% endblock core_javascript %}
{% block csrf_cookie %}{% endblock csrf_cookie %}
{% block javascript %}{% endblock javascript %}
</body>
</html>
