:root {
    box-sizing: border-box;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
html {
    background-color: #f7f7f7;
}

/* BODY defines high-level layout with grid */
body {
    display: grid;
    grid-template-areas: "head head"
                         "nav  main"
                         "nav  foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3ex minmax(80vh, 100%) 3ex;
    height: calc(100vh - 1em);
    width: calc(100vw - 1em);
}
table {
    border-collapse: collapse;
    height: fit-content;
}
th, td {
    border: 1px solid black;
    padding: 0.3em;
}
td > a {
    width: calc(100% - 0.3em);
}
.monospace {
    font-family: monospace, monospace;
}

/* Base layout of static blocks */

/* HEADER */
#header {
    background-color: dodgerblue;
    border: 1px solid black;
    grid-area: head;
}

/* NAV */
#nav {
    background-color: midnightblue;
    border: 1px solid black;
    grid-area: nav;
    overflow: auto;
    padding: 0.1em;
}
#nav a {
    color: white;
    text-decoration: none;
}
#nav a:hover {
    outline-color: whitesmoke;
    outline-style: dotted;
    outline-width: 1px;
}
#nav li {
    color: white;
}

/* CONTENT */
#content {
    border: 1px solid black;
    grid-area: main;
    overflow: auto;
    padding: 0.1em;
}
#content a {
    border: 1px solid transparent;
}
#content a:link,
#context a:visited {
    color: blue;
    text-decoration: none;
}
#content a:link:hover {
    background-color: aliceblue;
    border: 1px solid dodgerblue;
}

/* FOOTER */
#footer {
    background-color: dodgerblue;
    border: 1px solid black;
    grid-area: foot;
}

/*
.form {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-columns: auto;
}
.form label {
    grid-column-start: 1;
}
.form > h1,
.form > h2,
.form > h3,
.form > h4,
.form > h5,
.form > h6 {
    grid-column: 1 / -1;
}
.form input {
    grid-column-start: 2;
}
.form .helptext {
    font-style: italic;
}
*/

/*DEFORM App*/

/*
form.deform {
    display: flex;
    flex-direction: column;
}
form.deform div.field-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
}
form.deform > div + div {
    border-top: 1px solid dodgerblue;
    margin-top: 0.5em;
    padding-top: 0.5em;
}
form.deform > div > label {
    grid-column-start: 1;
    grid-row-start: 2;
}
form.deform > div > ul {
    grid-column-start: 2;
    grid-row-start: 1;
}
form.deform > div > input,
form.deform > div > select {
    grid-column-start: 2;
    grid-row-start: 2;
}
form.deform > div > span {
    grid-column-start: 2;
    grid-row-start: 3;
}
form.deform .helptext {
    font-style: italic;
}
*/
