a:link,
a:visited {
    color: white;
}

a:hover {
    outline: 1px dashed white;
}

input {
    background-color: inherit;
    color: inherit;
}

table {
    border: 1px solid var(--Titanium);
}

td {
    background-color: initial;
    border: 1px solid var(--Titanium);
    color: inherit;
}

th {
    background-color: initial;
    border: 1px solid var(--Titanium);
    color: inherit;
}

#root-main {
    background-color: var(--Gunmetal);
    color: white;
    display: flex;
}

.main-wrapper {
    display: flex;
    flex: auto;
}

.sidebar {
    border-right: 3px solid var(--Titanium);
    flex: none;
    overflow: auto;
    min-width: 12rem;
    max-width: 15%;
    padding-right: 5px;
}

.sidebar__nav-list {
    list-style-position: inside;
    padding-left: 20px;
}

.main {
    flex: auto;
    margin: 8px;
    overflow: auto;
}

.breadcrumbs {
    display: inline;
}

.breadcrumbs__list {
    border-bottom: 1px solid var(--Titanium);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs__list li {
    display: inline-flex;
}

.breadcrumbs__list > li + li::before {
    content: "\21D2";
    padding: 0 0.2rem;
}

.info-card {
    border-left: 1px solid var(--Titanium);
    border-bottom: 1px solid var(--Titanium);
    float: right;
    min-width: 18rem;
    padding: 1rem;
}

.info-card__photo-wrapper {
    display: flex;
    justify-content: center;
}

.info-card__featured-photo {
    max-width: 12rem;
}

.td-currency {
    text-align: right;
}
