input {
    border: 1px solid var(--Aero);
    padding: 4px;
    width: 95%;
}

select {
    border: 1px solid var(--Aero);
    padding: 3px 4px 4px;
    width: 95%;
}

.main {
    display: flex;
    flex-direction: column;
}

/**/

.credit {
    color: var(--Persimmon);
}

.debit {
    color: var(--Emerald);
}

.line-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.line-items {
    display: flex;
    flex-direction: column;
}

.transaction {
    border: 1px solid var(--Celadon);
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    margin-bottom: 0.5rem;
    padding: 5px;
}

.transaction:hover {
    background-color: var(--Gunmetal--dark);
}

.transaction-list {
    border: 1px dashed white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
