{% extends 'core/base.html' %}
{% load static %}


{% block title %}Pyamgmt{% endblock title %}


{% block extra_css %}

<link type="text/css" rel="stylesheet" href="{% static 'pyamgmt/css/base.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'pyamgmt/css/bem.css' %}">

{% endblock extra_css %}


{% block header %}

<span>PyAMgmt</span>
<span> -- </span>
<span>U: {{ user }}</span>

{% endblock header %}


{% block nav %}

<ul>
    <li><a href="{% url 'pyamgmt:home' %}">Home</a></li>
    <li><a href="{% url 'pyamgmt:txn-register' %}">Register</a></li>
</ul>
{% include 'pyamgmt/snippets/models_ul.htm' %}

{% endblock nav %}
