{% extends 'core/base.html' %}
{% load static %}


{% block title %}Pyamgmt{% endblock title %}


{% block extra_css %}

<link type="text/css" rel="stylesheet" href="{% static 'pyamgmt/css/base.css' %}">

{% endblock extra_css %}


{% block header %}
<div>
    <span>PyAMgmt</span>
    <span> -- </span>
    <span>U: {{ user }}</span>
</div>
{% endblock header %}


{% block _main %}
{# Left-side nav #}
{% block _nav %}
<nav class="nav">
    {% block nav %}
    {% endblock nav %}
    {% block nav__toplevel %}
    <h3>Index</h3>
    <ul>
        <li><a href="{% url 'pyamgmt:home' %}">Home</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'pyamgmt:txn-register' %}">Txn Register</a></li>
    </ul>
    {% endblock nav__toplevel %}
    {% block nav__models %}
    <h3>Models</h3>
    {% include 'pyamgmt/snippets/models_ul.htm' %}
    {% endblock nav__models %}
</nav>
{% endblock _nav %}
{{ block.super }}
{% endblock _main %}

{% block main %}

{% block _breadcrumbs %}
<nav class="breadcrumbs">
    <ol class="breadcrumbs__list">
        {% block breadcrumbs %}
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'pyamgmt:home' %}">Home</a></li>
        {% endblock breadcrumbs %}
    </ol>
</nav>
{% endblock _breadcrumbs %}
{% block content %}{% endblock content %}

{% endblock main %}

{% block footer %}<div>!</div>{% endblock footer %}
