{% extends 'pyamgmt/base.html' %}
{% load static %}


{% block breadcrumbs %}
<ol>
    <li>Home</li>
</ol>
{% endblock breadcrumbs %}


{% block content %}

<h1>Asset Management</h1>
<div style="display: flex;">
    <div>
        <h2>Models</h2>
        {% include 'pyamgmt/snippets/models_ul.htm' %}
    </div>
    <div>
        <h2>M2M Models</h2>
        <ul>
            <li>
                CatalogItem
                <ul>
                    <li><a>CatalogItemToInvoiceLineItem</a></li>
                    <li><a>CatalogItemToOrderLineItem</a></li>
                    <li><a href="{% url 'pyamgmt:catalogitemtopointofsalelineitem:list' %}">CatalogItemToPointOfSaleLineItem</a></li>
                </ul>
            </li>
            <li>
                InvoiceLineItem
                <ul>
                    <li><a>CatalogItemToInvoiceLineItem</a></li>
                    <li><a>InvoiceLineItemToNonCatalogItem</a></li>
                </ul>
            </li>
            <li>
                MusicAlbum
                <ul>
                    <li><a href="{% url 'pyamgmt:musicalbumtomusicartist:list' %}">MusicAlbumToMusicArtist</a></li>
                    <li><a href="{% url 'pyamgmt:musicalbumtosongrecording:list' %}">MusicAlbumToSongRecording</a></li>
                </ul>
            </li>
            <li>
                MusicArtist
                <ul>
                    <li><a href="{% url 'pyamgmt:musicalbumtomusicartist:list' %}">MusicAlbumToMusicArtist</a></li>
                    <li><a>MusicArtistToPerson</a></li>
                    <li><a href="{% url 'pyamgmt:musicartisttosong:list' %}">MusicArtistToSong</a></li>
                    <li><a>MusicArtistToSongRecording</a></li>
                </ul>
            </li>
            <li>
                NonCatalogItem
                <ul>
                    <li><a>InvoiceLineItemToNonCatalogItem</a></li>
                </ul>
            </li>
            <li>
                OrderLineItem
                <ul>
                    <li><a>CatalogItemToOrderLineItem</a></li>
                </ul>
            </li>
            <li>
                Person
                <ul>
                    <li><a>MusicArtistToPerson</a></li>
                </ul>
            </li>
            <li>
                PointOfSale
                <ul>
                    <li><a>PointOfSaleToTxn</a></li>
                </ul>
            </li>
            <li>
                PointOfSaleLineItem
                <ul>
                    <li><a href="{% url 'pyamgmt:catalogitemtopointofsalelineitem:list' %}">CatalogItemToPointOfSaleLineItem</a></li>
                </ul>
            </li>
            <li>
                Song
                <ul>
                    <li><a href="{% url 'pyamgmt:musicartisttosong:list' %}">MusicArtistToSong</a></li>
                    <li><a href="{% url 'pyamgmt:songtosong:list' %}">SongToSong</a></li>
                </ul>
            </li>
            <li>
                SongRecording
                <ul>
                    <li><a href="{% url 'pyamgmt:musicalbumtosongrecording:list' %}">MusicAlbumToSongRecording</a></li>
                    <li><a>MusicArtistToSongRecording</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h2>Available Models</h2>
        <ul>
            {% for model in models %}
            <li>{{ model }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
