<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schema</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <style>
        body {
            background-color: #cccccc;
        }
        #container {
            background-color: #eeeeee;
            border: 1px solid black;
            height: 600px;
            min-height: 400px;
            min-width: 400px;
            width: 1200px;
        }
    </style>
</head>
<body>

<div>
    <h1>Installed Apps</h1>
    <div id="container"></div>
</div>
{% comment %}
No complaints from browser?
<script type="module" src="{% static 'vis-network/standalone/esm/vis-network.js' %}"></script>
{% endcomment %}

{% comment %}
No complaints from browser
<script type="text/javascript" src="{% static 'vis-network/standalone/umd/vis-network.min.js' %}"></script>
{% endcomment %}

{% comment %}
No good
<script type="module" src="{% static 'vis-network/standalone/index.js' %}"></script>
{% endcomment %}

{{ vis_data|json_script:"vis-data" }}

<script type="text/javascript" src="{% static 'vis-network/standalone/umd/vis-network.js' %}"></script>

<script type="text/javascript">
    const context_data = JSON.parse(document.getElementById("vis-data").textContent);
    let container = document.getElementById("container");
    let data = context_data;
    let options = {
        nodes: {
            opacity: 0.8,
            {#shape: 'box',#}
            shape: 'dot',
            {% comment %}scaling: {
                label: {
                    enabled: true
                }
            }{% endcomment %}
        },
        edges: {
            arrows: {
                to: {
                    enabled: true
                }
            },
            color: {
                opacity: 0.5
            },
            // physics: false,
            smooth: {
                // enabled: false,  // true
                {#type: 'continuous',  // dynamic#}
                type: 'dynamic',  // dynamic
            }
        },
        physics: {
            barnesHut: {
                gravitationalConstant: -2000,  // -2000
                damping: 0.5,  // 0.09
                springLength: 100,  // 95
                springConstant: 0.02,  // 0.04
                avoidOverlap: 0.1,  // 0
            },
            repulsion: {
                nodeDistance: 200,  // 100
                damping: 0.5,  // 0.09
            },
            // solver: 'repulsion'  // 'barnesHut'
        }
    };
    let network = new vis.Network(container, data, options);
</script>
</body>
</html>
