<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: #cccccc;
        }
        #container {
            background-color: #eeeeee;
            border: 1px solid black;
            height: 500px;
            min-height: 400px;
            min-width: 400px;
            width: 500px;
        }
    </style>
</head>
<body>

<div>
    <h1>Testing</h1>
    <div id="container"></div>
    <div>
        <h2>"d"</h2>
        <div>
            {% for mdl, related in d.items %}
            <div>Model: {{ mdl|name }}</div>
            {% if related.from %}
            <div>
                <div>Referenced By:</div>
                <div>
                    {% for rel in related.from %}
                    <div>{{ rel|name }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if related.to %}
            <div>
                <div>References:</div>
                <div>
                    {% for rel in related.to %}
                    <div>{{ rel|name }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <hr>
            {% endfor %}
        </div>
    </div>
    <h2>all_models</h2>
    {% for app, models in all_models.items %}
    <div>
        <div>{{ app }}</div>
        <div>{{ models }}</div>
    </div>
    {% endfor %}
</div>
{% comment %}
No complaints from browser?
<script type="module" src="{% static 'vis-network/standalone/esm/vis-network.js' %}"></script>
{% endcomment %}

{% comment %}
No complaints from browser
<script type="text/javascript" src="{% static 'vis-network/standalone/umd/vis-network.min.js' %}"></script>
{% endcomment %}

{% comment %}
No good
<script type="module" src="{% static 'vis-network/standalone/index.js' %}"></script>
{% endcomment %}

<script type="text/javascript" src="{% static 'vis-network/standalone/umd/vis-network.js' %}"></script>

{#<script type="module" src="{% static 'vendor/sanity.js' %}"></script>#}

<script>
    let container = document.getElementById("container");
    console.log(vis.DataSet);
    let nodes = new vis.DataSet([
        { id: 1, label: "Node 1"},
        { id: 2, label: "Node 2"},
        { id: 3, label: "Node 3"},
        { id: 4, label: "Node 4"},
        { id: 5, label: "Node 5"}
    ]);
    let edges = new vis.DataSet([
        { from: 1, to: 3},
        { from: 1, to: 2}
    ]);
    let data = {
        nodes: nodes,
        edges: edges
    };
    let options = {};
    let network = new vis.Network(container, data, options);
</script>
</body>
</html>
