<ul class="sidebar__nav-list">
  <li><a href="{% url 'core:music-album-register' %}">MusicAlbumRegister</a></li>
  <li><a href="{% url 'core:account-list' %}">TxnRegister</a></li>
</ul>

<ul class="sidebar__nav-list">
  <li><a href="{% url 'core:account:list' %}">Accounts</a></li>
  <li><a href="{% url 'core:music-album:list' %}">Music Album</a></li>
  <li><a href="{% url 'core:music-artist:list' %}">Music Artist</a></li>
  <li><a href="{% url 'core:person:list' %}">Person</a></li>
  <li><a href="{% url 'core:txn:list' %}">Txn</a></li>
</ul>
