<div class="transaction">
  <div>
    <label>
      Date:
      <br>
      {% if txn %}
      <input value="{{ txn.txn_date }}">
      {% else %}
      <input>
      {% endif %}
    </label>
  </div>
  <div>
    <label>
      Payee:
      <br>
      {% if txn %}
      <input value="{{ txn.payee }}">
      {% else %}
      <input>
      {% endif %}
    </label>
  </div>
  <div class="line-items">
    {# I think maybe the line-items section should be a table inside a form #}
    {# Or each div-row is a form with some id or reference to the object #}
    {# Event handling local to each section #}
    <div class="line-item">
      <div>Account</div>
      <div>Debits</div>
      <div>Credits</div>
    </div>
    {# TODO: This should be a template fragment, like txn-line-item--form #}
    {% for line_item in txn.line_items.all %}
    {# TODO: Reserve a block for _this_ account, e.g., if line_item.account==account #}
    {#  This account should always come first #}
    <form class="line-item">
      <div><input value="{{ line_item.account }}"></div>
      {% if line_item.debit %}
      <div class="debit"><input value="{{ line_item.amount }}"></div>
      <div><input></div>
      {% else %}
      <div><input></div>
  {#      <div class="credit">{{ line_item.amount }}</div>#}
      <div class="credit"><input value="{{ line_item.amount }}"></div>
      {% endif %}
    </form>
    {% endfor %}
    {# TODO: Last rows should have subtotals #}
    {# TODO: Symbol or coloration for balanced transactions #}
    {# TODO: If this relates to a PointOfSale, I'd like to have that available #}
    {# TODO: Likewise, if it relates to an Invoice, I'd like to see it #}
    <form class="line-item">
      <select>
        <option>---------</option>
      </select>
      <input>
      <input>
    </form>
  </div>  <!-- .line-items -->
  <div></div>
</div>  <!-- .transaction -->
