{% extends 'core/base.html' %}


{% comment %}
A list of accounts and balances should be displayed.
Last activity date might be nice.

I think I may want to list financial accounts at the top.
The other accounts should be visible, but perhaps not set up for the register.
The financial accounts are the central item for the data.

Accounts should have their hierarchies displayed within their groups
Grouped accounts should have summation of their nested accounts
(Probably a manager method, along with the hierarchy functions)
A depth limit would be practical. Top-level accounts can be paginated, nested
accounts can be fetched on-demand.
{% endcomment %}


{% block main %}
<div>
  <h1>Accounts</h1>
  <h2>Financial Accounts</h2>
  <table>
    <thead>
    <tr>
      <th>Account</th>
      <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    {% for account in financial_accounts %}
    <tr>
      <td>
        <a href="{% url 'core:txn-register' account.pk %}">
          {{ account }}
        </a>
      </td>
      <td>{{ account.balance }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <h2>Other Accounts</h2>
  <table>
    <thead>
    <tr>
      <th>Account Type</th>
      <th>Name</th>
      <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    {% for account in other_accounts %}
    <tr>
      <td>{{ account.subtype.title }}</td>
      <td>{{ account }}</td>
      <td>{{ account.balance }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}
