{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link
    rel="stylesheet"
    href="{% static 'core/css/base.css' %}">
{% endblock extra_css %}


{% block root_main %}
<div class="main-wrapper">
  {% block _sidebar %}
  <div class="sidebar">
    {% block sidebar %}
    <nav>
      {% block sidebar__nav-list %}
      {% include 'core/_sidebar__nav-list.html' %}
      {% endblock sidebar__nav-list %}
    </nav>
    {% endblock sidebar %}
  </div>
  {% endblock _sidebar %}
  <div class="main">
    {% block main %}{% lorem %}{% endblock main %}
  </div>
</div>
{% endblock root_main %}
