{% extends 'core/base.html' %}
{% load static %}


{% block extra_css %}
{{ block.super }}
<link
    rel="stylesheet"
    href="{% static 'core/css/model-detail.css' %}">
{% endblock extra_css %}


{% block main %}
<nav class="breadcrumbs">
  {% block breadcrumbs__list %}
  {% endblock breadcrumbs__list %}
</nav>
<div class="content-wrapper">
  <article class="info-card">
    {% block info_card %}{% endblock info_card %}
  </article>
  <main class="content">
    {% block content %}{% lorem %}{% endblock content %}
  </main>
</div>
{% endblock main %}
