{% extends 'core/model-detail.html' %}


{% block info_card %}
{% if object.cover_artwork %}
<div class="info-card__photo-wrapper">
  <img
      src="{{ object.cover_artwork.image_small.url }}"
      alt="Cover artwork">
</div>
{% endif %}
{% endblock info_card %}


{% block content %}
<h1>Music Album</h1>
<h2>{{ object.title }}</h2>

{% with music_artists=object.music_artists.all %}
{% if music_artists %}
<h3>Artists</h3>
<ul>
  {% for music_artist in music_artists %}
  <li>
    <a href="{% url 'core:music-artist:detail' music_artist.pk %}">
      {{ music_artist }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% with personnel=object.personnel.all %}
{% if personnel %}
<h3>Personnel</h3>
<ul>
  {% for person in personnel %}
  <li>
    <a href="{% url 'core:person:detail' person.pk %}">
      {{ person }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% with editions=object.music_album_edition_set.all %}
{% if editions %}
<h3>Editions</h3>
{% for edition in editions %}
<h4>
  <a href="{% url 'core:music-album-edition:detail' edition.pk %}">
    {{ edition }}
  </a>
</h4>
{% if edition.tracks %}
{% with object=edition %}
{% include 'core/models/_music-album-edition--tracks--table.html' %}
{% endwith %}
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% endblock content %}
