{% extends 'core/model-detail.html' %}


{% block breadcrumbs__list %}
<ol class="breadcrumbs__list">
  <li>Home</li>
  <li>
    <a href="{% url 'core:music-artist:list' %}">
      Music Artist
    </a>
  </li>
  <li>{{ object.name }}</li>
</ol>
{% endblock breadcrumbs__list %}


{% block info_card %}
<div>Name: {{ object.name }}</div>
<div>Active: {{ object.is_active }}</div>
<div>
  Years Active:
  <ul>
    {% for activity in object.music_artist_activity_set.all %}
    <li>{{ activity }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock info_card %}


{% block content %}
<h1>Music Artist</h1>
<h2>{{ object.name }}</h2>

{% with personnel=object.personnel.all %}
{% if personnel %}
<h3>Personnel</h3>
<ul>
  {% for person in personnel %}
  <li>
    <a href="{% url 'core:person:detail' person.pk %}">
      {{ person }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% with music_albums=object.music_albums.all %}
{% if music_albums %}
<h3>Albums</h3>
<ul>
  {% for music_album in music_albums %}
  <li>
    <a href="{% url 'core:music-album:detail' music_album.pk %}">
      {{ music_album }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock content %}
