{% extends 'core/base.html' %}


{% block main %}
<h1>Music Artists</h1>
<table>
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Active</th>
    <th>Active Members</th>
  </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>
      <a href="{% url 'core:music-artist:detail' obj.pk %}">
        {{ obj.name }}
      </a>
    </td>
    <td>{{ obj.is_active }}</td>
    {% if obj.is_active %}
    <td>{{ obj.active_members|join:", " }}</td>
    {% else %}
    <td></td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock main %}
