{% extends 'core/model-detail.html' %}


{% block breadcrumbs__list %}
<ol class="breadcrumbs__list">
  <li>Home</li>
  <li>
    <a href="{% url 'core:person:list' %}">
      Person
    </a>
  </li>
  <li>{{ person.preferred_name }}</li>
</ol>
{% endblock breadcrumbs__list %}


{% block info_card %}
{% if person.featured_photo %}
<div class="info-card__photo-wrapper">
  <img
      class="info-card__featured-photo"
      src="{{ person.featured_photo.photo.image_small.url }}"
      alt="Featured photo">
</div>
{% endif %}
<div>Name: {{ person.birth_name }}</div>
{% if person.date_of_death and person.date_of_birth %}
<div>Born: {{ person.date_of_birth }}</div>
<div>Died: {{ person.date_of_death }} (age {{ person.age }})</div>
{% elif person.date_of_death %}
<div>Died: {{ person.date_of_death }}</div>
{% elif person.date_of_birth %}
<div>Born: {{ person.date_of_birth }} (age {{ person.age }})</div>
{% endif %}
{% endblock info_card %}


{% block content %}
<h1>Person</h1>
<h2>{{ person.preferred_name }}</h2>

{% with music_artists=person.music_artists.all %}
{% if music_artists %}
<h3>Music Artists</h3>
<ul>
  {% for music_artist in music_artists %}
  <li>
    <a href="{% url 'core:music-artist:detail' music_artist.pk %}">
      {{ music_artist }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% with music_albums=person.music_albums.all %}
{% if music_albums %}
<h3>Music Albums</h3>
<ul>
  {% for music_album in music_albums %}
  <li>
    <a href="{% url 'core:music-album:detail' music_album.pk %}">
      {{ music_album }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% with song_performances=person.song_performances.all %}
{% if song_performances %}
<h3>Performances</h3>
<ul>
  {% for song_performance in song_performances %}
  <li>
    <a href="{% url 'core:song-performance:detail' song_performance.pk %}">
      {{ song_performance.get_title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% if notes %}
<h3>Notes</h3>
<p>{{ person.notes }}</p>
{% endif %}

{% endblock content %}
