{% extends 'core/model-list.html' %}


{% block content %}
<h1>People</h1>
<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Preferred Name</th>
  </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td class="td__img--center">
      {% if obj.featured_photo %}
      <img src="{{ obj.featured_photo.photo.image_thumbnail.url }}"
           alt="Thumbnail">
      {% endif %}
    </td>
    <td>
      <a href="{% url 'core:person:detail' obj.pk %}">
        {{ obj.preferred_name }}
      </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}
