{% extends 'core/model-detail.html' %}


{% block breadcrumbs__list %}
<ol class="breadcrumbs__list">
  <li>Home</li>
  <li>
    <a href="{% url 'core:song-performance:list' %}">
      Song Performance
    </a>
  </li>
  <li>{{ object }}</li>
</ol>
{% endblock breadcrumbs__list %}


{% block content %}
<h1>Song Performance</h1>
<div style="color: red">
  <ul>
    <li>Song(s): {{ object.song_arrangement.songs.all }}</li>
    <li>Arrangement: {{ object.song_arrangement }}</li>
    <li>Recording(s): {{ object.song_recording_set.all }}</li>
  </ul>
</div>
{% endblock content %}
