<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  {% block _css %}
  {% block css_3p %}{% endblock css_3p %}
  <link rel="stylesheet" href="{% static 'colors.css' %}">
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block css_theme %}{% endblock css_theme %}
  {% block extra_css %}{# <link> #}{% endblock extra_css %}
  {% block extra_css_style %}{# <style> #}{% endblock extra_css_style %}
  {% endblock _css %}
  <script type="module" src="{% vite %}"></script>
  <script>
      {# Prettify URLS from empty GET form requests. #}
      if (window.location.href.slice(-1) === '?') {
          history.replaceState(null, '', window.location.href.slice(0, -1));
      }
  </script>
</head>

{% block _body %}
<body>
{% block body %}
<div id="root">
  {% block _root_header %}
  <header id="root-header">
    {% block root_header %}
    <nav id="root-header-nav">
      <ol>
        <li>{{ CONFIG.ROOT_HEADER_TEXT }}</li>
      </ol>
    </nav>
    <div class="js-header-clock">
      {# clock #}
    </div>
    {% endblock root_header %}
  </header>
  {% endblock _root_header %}
  {% block _root_main %}
  <div id="root-main">
    {% block root_main %}{% endblock root_main %}
  </div>  <!-- /#root-main -->
  {% endblock _root_main %}
  {% block _root_footer %}
  <footer id="root-footer">
    {% block root_footer %}
    {% endblock root_footer %}
  </footer>
  {% endblock _root_footer %}
</div>  <!-- /#root -->
{% endblock body %}

{% block _javascript %}
{% block javascript_3p %}{% endblock javascript_3p %}
{% block csrf_cookie %}{% endblock csrf_cookie %}
{% block core_javascript %}
<script src="{% static 'core/js/utils.js' %}"></script>
<script type="module" src="{% asset 'core/assets/clock.ts' %}"></script>
{% endblock core_javascript %}
{% block javascript %}{% endblock javascript %}
{% endblock _javascript %}
</body>
{% endblock _body %}
</html>
